BODY {
	background-color : #FFFFFF;
	font-size : 11px;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	color : #000000;
	margin-top : 0px;
	margin-bottom : 0px;
}

P {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	text-align : justify;
}

A 	{
	color : #000000;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	text-decoration : underline;
}
A:Visited 	{
	color : #000000;
}
A:Hover 	{
	color : #000000;
	text-decoration : underline;
}
A.mainmenu 	{
	color : #000000;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	text-decoration : none;
}
A:Visited.mainmenu 	{
	color : #000000;
}
A:Hover.mainmenu 	{
	color : #000000;
	text-decoration : underline;
}
A.artmenu 	{
	color : #000066;
	font-family : Arial, Verdana, Helvetica, sans-serif;
	text-decoration : none;
	font-weight : bold;
}
A:Visited.artmenu 	{
	color : #000066;
}
A:Hover.artmenu 	{
	color : #000066;
	text-decoration : underline;
}

TD {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
}

TD.cat_rubric_1 {
	font-size : 14px;
	font-weight:bold;
	color : #000;
	padding:5 0;
	text-align:left;
	vertical-align:middle;
	
	border-top:dotted 2px #bbbbbb;
	
}

TD.cat_rubric_2 {
	font-size : 12px;
	color : #000;
	padding:3 30;
	text-align:left;
	vertical-align:middle;
}

TD.cat_rubric_3 {
	font-size : 12px;
	color : #000;
	padding:3 60;
	text-align:left;
	vertical-align:middle;
}

H1 {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 16px;
	color : #000000;
	margin-bottom : 8px
}
H2 {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 14px;
	color : #000000;
	margin-bottom : 8px
}
H3 {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
}

TABLE.main {
	border : 0;
}

TR.maintitle{
	background-color: #CFCFFF;
}
TR.common{
	background-color: #F6F6F6;
}

TR.form_topline{
	background-color: #CFCFFF;
}
TD.form_left{
	background-color: #E6E6E6;
	text-align : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	width : 150px;
	padding: 5 5 5 10;
}
TD.form_main{
	background-color: #EFEFEF;
	text-align : left;
	width : 750px;
	padding: 5 5 5 5;
}

TEXTAREA.form {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	width : 100%;
	background-color : #FFFFFF;
	color : #000000;
	border : 1px solid Silver;
}
INPUT.form {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color : #FFFFFF;
	width : 100%;
	color : #000000;
	border : 1px solid Silver;
}
INPUT.form_file {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color : #FFFFFF;
	color : #000000;
	width : 400px;
	border : 1px solid Silver;
}


INPUT.form_button {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color: #E6E6E6;
	border : 1px solid Silver;
	width : 100px;
}





INPUT.form_nedv {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color : #FFFFFF;
	color : #000000;
	border : 1px solid Silver;
}

SPAN.comment {
	font-family : Arial, Verdana, Helvetica, sans-serif;
	font-size : 10px;
	color : #777777;
}

/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}